.widget-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  .widget {

    width: 325px;
    height: 175px;
    background-color: #db803a;
    color: #db803a;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 20px;
    &.burgandy {
      background-color: rgb(255, 255, 255);
    }
    &.yellow {
      background-color: rgb(255, 255, 255);
    }

    @media only screen and (max-width: 1600px) {
      width: 300px;
    }
    @media only screen and (max-width: 1500px) {
      width: 275px;
    }
    @media only screen and (max-width: 1400px) {
      width: 250px;
    }
    @media only screen and (max-width: 1200px) {
      width: 225px;
    }

    .icon {
      width: 100px;
      font-size: 60px;
      text-align: center;
      @media only screen and (max-width: 1200px) {
        font-size: 45px;
      }
    }
    .value {
      text-align: center;
      width: 175px;
      .top {
        font-size: 30px;
        @media only screen and (max-width: 1200px) {
          font-size: 26px;
        }
      }
      .bottom {
        font-size: 20px;
        margin-top: 10px;
        @media only screen and (max-width: 1200px) {
          font-size: 16px;
        }
      }
    }
  }
}
a{
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}

/* Hovered link (when the mouse pointer is over the link) */
a:hover {
  color: #ffffff;
}

/* Active link (when the link is clicked) */
a:active {
  color: #77003a;
}

