

<div class="widget-container">
  <a href="/Localisation"><div class="widget yellow">
    <div class="icon">
     <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">12</div>
      <div class="bottom">Regions</div>
    </div>
  </div></a>
  <a href="/Enqueteurs"><div class="widget burgandy">
    <div class="icon">
      <fa-icon [icon]="faBriefCase"></fa-icon>
    </div>
    <div class="value">
      <div class="top">79</div>
      <div class="bottom">Enqueteurs</div>
    </div></div></a>
  <a href="/Enqueteurs"><div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faPenToSquare"></fa-icon>
    </div>
    <div class="value">
      <div class="top">3790</div>
      <div class="bottom">Questionnaires</div>
    </div>
  </div></a>
  <a href="/Contact"><div class="widget burgandy">
    <div class="icon">
      <fa-icon [icon]="faContactBook"></fa-icon>
    </div>
    <div class="value">
      <div class="top">79</div>
      <div class="bottom">Contacts</div>
    </div>
  </div></a>
</div>
